@font-face 
	font-family: "PR"
	src: url("../fonts/ProximaNovaRegular.eot")
	src: url("../fonts/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaRegular.woff") format("woff"),
	url("../fonts/ProximaNovaRegular.ttf") format("truetype")
	font-style: normal
	font-weight: normal
@font-face 
	font-family: "PB"
	src: url("../fonts/ProximaNovaBlack.eot")
	src: url("../fonts/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBlack.woff") format("woff"),
	url("../fonts/ProximaNovaBlack.ttf") format("truetype")
	font-style: normal
	font-weight: normal
@font-face 
	font-family: "PBK"
	src: url("../fonts/ProximaNovaBlack.eot")
	src: url("../fonts/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBlack.woff") format("woff"),
	url("../fonts/ProximaNovaBlack.ttf") format("truetype")
	font-style: normal
	font-weight: normal

*
	box-sizing: border-box

body
	//font-family: "PB"
  background: #FFF
  //+css-lock(16, 50, 600, 1000)
  //line-height: 1.4
.h1
	+hidetext