
@font-face 
	font-family: "ProximaNovaRegular"
	src: url("../fonts/ProximaNovaRegular.eot")
	src: url("../fonts/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaRegular.woff") format("woff"),
	url("../fonts/ProximaNovaRegular.ttf") format("truetype")
	font-style: normal
	font-weight: normal
@font-face 
	font-family: "ProximaNovaBlack"
	src: url("../fonts/ProximaNovaBlack.eot")
	src: url("../fonts/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBlack.woff") format("woff"),
	url("../fonts/ProximaNovaBlack.ttf") format("truetype")
	font-style: normal
	font-weight: normal
@font-face 
	font-family: "ProximaNovaBold"
	src: url("../fonts/ProximaNovaBold.eot")
	src: url("../fonts/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBold.woff") format("woff"),
	url("../fonts/ProximaNovaBold.ttf") format("truetype")
	font-style: normal
	font-weight: normal

*
	box-sizing: border-box

body
	//font-family: "PB"
  background: #FFF
  //+css-lock(16, 50, 600, 1000)
  //line-height: 1.4
 a
 	text-decoration: none
.h1
	+hidetext
.h2
	display: table-cell
	vertical-align: middle
	color: $white
	font: 900 95px/1.5em $PBK
	text-transform: uppercase
	+css-lock(52, 95, 991, 1599)
	+r(991)
		line-height: 0.9em
	+r(639)
		font-size: 24px
	span
		position: relative
		top: -57px
		font: 400 65px $PR
		+css-lock(35, 65, 991, 1599)
		+css-lock(0, -57, 991, 1599, "top")
		+r(639)
			font-size: 20px
.h3
	text-align: center
	color: $pink
	text-transform: uppercase
	font: 400 45px/1em $PR
	+r(560)
		font-size: 28px
.h3--negative-indent
	display: inline-block
	position: relative
	top: -21px
	background: #fff
	padding: 0 32px
	+r(560)
		top: -14px
.h4
	color: $gray-darnest
	font: 900 30px/1em $PBK
	text-transform: uppercase
.grayLinkStyle
	color: $gray
	font: 500 15px/1em $PR
.mainMenuStile
	color: $black
	font: 400 15px/1.3em $PR
.three-col-list
	text-align: center
.three-col-list__item
	vertical-align: top
	display: inline-block
	//width: 484px
	+css-lock(300, 484, 992, 1599, "width")
	&:nth-of-type(3n+2)
		margin-left: 60px
		margin-right: 60px
		+r(1599)
			margin-left: 30px
			margin-right: 30px
	+r(991)
		width: 484px
		margin: 0 0 34px 0!important
		//&:nth-of-type(3n+2)
		//	margin: 0 0 32px 0
		&:last-of-type
			margin-bottom: 0!important
	+r(560)
		width: 100%
.body-ovh
	overflow: hidden
.js-hidden
	transition: opacity .4s
.is-hidden
	opacity: 0