---
title: basket page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- 	{# variable example #}
<h1>{{title}}</h1>
-->

{# partial example #}


<!--begin basket-page-->
<div class="basket-page">
	{% include "partials/_header.html" %}
	<!--begin basket-->
	<div class="basket">
		<!--begin container-->
		<div class="container">
			<div class="basket__left">
				<h1 class="h1 h1--big">Корзина</h1>
				<div class="basket__total-count">
					Товаров в вашей корзине: <span>3</span>
				</div>
				<!--begin bproduct-list-->
				<div class="bproduct-list">
					<div class="bproduct">
						<div class="bproduct__img" style="background-image: url('img/brod-img1.jpg');">
						</div>
						<div class="bproduct__desc">
							<a class="bproduct__h2link" href="#">
								<h2 class="h2 h2--small bproduct__h2">
									Постельное белье Kingsilk
								</h2>
							</a>
							<p class="bproduct__option">2-х спальное</p>
							<!--begin bproduct__inner-->
							<div class="bproduct__inner">
								<p class=bproduct__sum><span>2 990</span>руб</p>
								<!--begin bproduct__count-->
								<div class="bproduct__count">
									<span>Количество: </span>
									<div class="bproduct__minus"></div>
									<span >1</span>
									<div class="bproduct__plus"></div>
								</div>
								<!--end bproduct__count-->
							</div>
							<!--end bproduct__inner-->
						</div>
						<div class="bproduct__close close-default">X</div>
					</div>
					<div class="bproduct">
						<div class="bproduct__img" style="background-image: url('img/brod-img1.jpg');">
						</div>
						<div class="bproduct__desc">
							<a class="bproduct__h2link" href="#">
								<h2 class="h2 h2--small bproduct__h2">
									Постельное белье Kingsilk 
								</h2>
							</a>
							<p class="bproduct__option">2-х спальное</p>
							<!--begin bproduct__inner-->
							<div class="bproduct__inner">
								<p class=bproduct__sum><span>2 990</span>руб</p>
								<!--begin bproduct__count-->
								<div class="bproduct__count">
									<span>Количество: </span>
									<div class="bproduct__minus"></div>
									<span >1</span>
									<div class="bproduct__plus"></div>
								</div>
								<!--end bproduct__count-->
							</div>
							<!--end bproduct__inner-->
						</div>
						<div class="bproduct__close close-default">X</div>
					</div>
				</div>
				<!--end bproduct-list-->
				<!--begin btotal-sum-->
				<div class="btotal-sum">
					<span class="btotal-sum__left">ИТОГО:</span>
					<p class="btotal-sum__right">
						<span class="btotal-sum__value">6 290</span>руб
					</p>
				</div>
				<!--end btotal-sum-->
			</div>
			<div class="basket__right">
				<form>
					<!--begin delivery-->
					<div class="delivery">
						<p class="delivery__title">
							Доставка
						</p>
						<input class="delivery__input" name="name" type="text" placeholder="Имя">
						<input class="delivery__input" name="second_name" type="text" placeholder="Фамилия">
						<input class="delivery__input" name="phone" type="text" placeholder="Телефон">
						<input class="delivery__input" name="adress" type="text" placeholder="Адрес доставки">
						<textarea  class="delivery__textarea" name="comment" placeholder="Комментарий к заказу"></textarea>
					</div>
					<!--end delivery-->
					<!--begin payment-->
					<div class="payment">
						<p class="payment__title">Способ оплаты</p>
						<div class="payment__inner">	
							<input  class="payment__input" type="radio" name="pay" id="cash" >
							<label class="payment__label" for="cash"><i class="payment__icon"></i>Наличными курьеру
							</label>
						</div>
						<div class="payment__inner">	
							<input  class="payment__input" type="radio" name="pay"  id="card" checked>
							<label class="payment__label" for="card"><i class="payment__icon"></i>
								Электронными деньгами
								<p class="payment__desc">Мы принимаем платежи Web Money,
									PayPal, Qiwi, Yandex.Деньги
								</p>
							</label>
						</div>
						<div class="payment__inner">
							<input  class="payment__input" type="radio" name="pay" id="cashless">
							<label class="payment__label" for="cashless">
								<i class="payment__icon"></i>
								Безналичный расчет
								<p class="payment__desc">
									Наш менеджер сообщит вам все
									детали по телефону
								</p>
							</label>
						</div>
						<button class="btn btn--small payment__btn" type="submit">купить</button>
					</div>
					<!--end payment-->
				</form>
			</div>
		</div>
		<!--end container-->
	</div>
	<!--end basket-->
	{% include "partials/_footer.html" %}
	{% include "partials/_popups.html" %}
</div>
<!--end basket-page-->


<!-- 	{# mixin example #}
	{{mixins.icon('facebook')}} -->


<!-- 	{# data usage example #}
	{% import "data/data.html" as tests %}
	
	{% for test in tests.list %}
	<li>{{test.title}}</li>
	{% endfor %}
	{# end of example #} -->

	{% endblock %}

	