<!-- begin about-us -->
<div class="about-us">
	<!-- begin container -->
	<div class="container">
		<h3 class="h3 h3--negative-indent">О нас</h3>
		<div class="about-us__article">
		<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
		<p> При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
		</div>

	</div>
	<!-- end container -->
	<div class="about-us__inner">
		<!-- begin container -->
		<div class="container container--zero-padding">
			<ul class="about-us__ul">
				<li class="about-us__li"><a href="#">Информация по доставке</a></li>
				<li class="about-us__li"><a href="#">Возврат товара</a></li>
				<li class="about-us__li"><a href="#">Отзывы о нас</a></li>
				<li class="about-us__li"><a href="#">Клубная карта</a></li>
			</ul>
		</div>
		<!-- end container -->
	</div>
</div>
<!-- end about-us -->