<!-- begin about-us -->
<div class="about-us">
	<!-- begin container -->
	<div class="container">
		<h3 class="h3 about-us__h3">О нас</h3>
		<p class="about-us__article">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
		</p>

	</div>
	<!-- end container -->
	<div class="about-us__wrapper">
		<!-- begin container -->
		<div class="container">
			<ul class="about-us__ul">
				<li><a href="#">Информация по доставке</a></li>
				<li><a href="#">Возвтрат товара</a></li>
				<li><a href="#">Отзывы о нас</a></li>
				<li><a href="#">Клубная карта</a></li>
			</ul>
		</div>
		<!-- end container -->
	</div>
</div>
<!-- end about-us -->