<!-- begin banners -->
<div class="banners" id="banners">
	<!-- begin container -->
	<div class="container">
		<div class="three-col-list">
			<div class="banner three-col-list__item" >
				<a class="banner__link" href="#" style="background-image: url('img/banner1-bg.jpg');">
					<strong class="banner__title">Постельное
						белье
					</strong>
					<div class="banner__price">от 599<span>руб</span></div>
				</a>
			</div>
			<div class="banner three-col-list__item" >
				<a class="banner__link" href="#" style="background-image: url('img/banner2-bg.jpg');">
					<strong class="banner__title banner__title--large">Акция</strong>
					<span class="banner__date">02.03.17</span>
				</a>
			</div>
			<div class="banner three-col-list__item" >
				<a class="banner__link" href="#" style="background-image: url('img/banner3-bg.jpg');">
					<strong class="banner__title">Постельное
						белье
					</strong>
					<div class="banner__price">от 599<span>руб</span></div>
				</a>
			</div>
		</div>
	</div>
	<!-- end container -->
</div>
<!-- end banners -->