	<!--begin bar-->
	<div class="topline">
		<!--begin container-->
		<div class="container">
			<!-- begin topline__left -->
			<div class="topline__left">
				<input class="search" type="text" placeholder="Поиск по сайту">
			</div>
			<!-- end topline__left -->

			<!-- begin topline__middle -->
			<div class="topline__middle">
				<ul class="topline__links-list">
					<li class="topline__links-list-item">Магазины в Москве</li>
					<li class="topline__links-list-item">Бесплатная доставка</li>
					<li class="topline__links-list-item">Возврат 365</li>
					<li class="topline__links-list-item">Сертификаты</li>
				</ul>
			</div>
			<!-- end topline__middle -->
			<!-- begin topline__right -->
			<div class="topline__right">
				<div class="phone-callback-block">
					<a class="phone" href="tel:+71234567890">+7 (123) <span>456 78 90</span></a>
					<a class="callback" href="#">Заказать звонок</a>
				</div>
				<div class="authorization-block">
					<a class="login" href="#">Вход</a>
					<a class="registration" href="#">Регистрация</a>
				</div>
			</div>
			<!-- end topline__right -->

		</div>
		<!--end container-->

	</div>
	<!--end bar-->
