<!--begin catalog-->
<div class="catalog">
	<!--begin ctopline-->
	<div class="ctopline">
		<!--begin container-->
		<div class="container">
			<div class="ctopline__wrapper">
				<!--begin ctopline__left-->
				<div class="ctopline__left">
					<h1 class="h1 catalog__h1">Постельное белье</h1>
					<p class="catalog__quantity">
						<span>5 785</span> вариантов
					</p>
				</div>
				<!--end ctopline__left-->
				<!--begin ctopline__right-->
				<div class="ctopline__right">
					<!--begin sorting-->
					<div class="sorting">
						<span class="sorting__title">Сортировка:</span>
						<select  class="select">
							<option value="op1">По популярности</option>
							<option value="op1">От дешевых к дорогим</option>
							<option value="op2">По цене</option>
						</select>
						<select  class="select">
							<option value="op1">Все</option>
							<option value="op2">Не все</option>
						</select>
					</div>
					<!--end sorting-->
				</div>
				<!--end ctopline__right-->
			</div>	
		</div>
		<!--end container-->
	</div>
	<!--end ctopline-->
	<!--begin container-->
	<div class="container catalog__container">
		<!--begin cfilter-->


		{% import "data/data.html" as tests %}

		<div class="cfilter">
			<form>
				<!-- begin cfilter__option -->
				<div class="cfilter__option cfilter__price">
					<span class="cfilter__title cfilter__title--without-arrow ">Цена (руб):</span>
					<div class="cfilter__price-wrapper">
						<input class="cfilter__price-input" id="priceInput1" type="text" placeholder="от">
						<input class="cfilter__price-input" id="priceInput2" type="text" placeholder="до">
					</div>
					<div  id="priceSlider">
					</div>
				</div>
				<!-- end cfilter__option -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option ">
					<span class="cfilter__title js-drop-option">Размер</span>
					<div class="cfilter__wrapper">			
					{% for test in tests.filterSize %}
					<div class="check-block">
						<input class="check-block__input" type="checkbox" id="{{test.id}}">
						<label class="check-block__text" for="{{test.id}}"> 
							<i class="check-block__icon"></i> 
							{{test.opt}}
						</label>
					</div>
					{% endfor %}
					</div>
				</div>
				<!-- end cfilter__option -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option ">
					<span class="cfilter__title js-drop-option">Материал</span>
					<div class="cfilter__wrapper">
						{% for test in tests.filterMaterial %}
						<div class="check-block">
							<input class="check-block__input" type="checkbox" id="{{test.id}}">
							<label class="check-block__text" for="{{test.id}}"> 
								<i class="check-block__icon"></i> 
								{{test.opt}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- end cfilter__option -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option ">
					<span class="cfilter__title js-drop-option">Рисунок</span>
					<div class="cfilter__wrapper">
						{% for test in tests.filterImage %}
						<div class="check-block">
							<input class="check-block__input" type="checkbox" id="{{test.id}}">
							<label class="check-block__text" for="{{test.id}}"> 
								<i class="check-block__icon"></i> 
								{{test.opt}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- end cfilter__option -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option ">
					<span class="cfilter__title js-drop-option">Цвет</span>
					<div class="cfilter__wrapper">
						{% for test in tests.filterColor %}
						<div class="check-block">
							<input class="check-block__input" type="checkbox" id="{{test.id}}">
							<label class="check-block__text" for="{{test.id}}"> 
								<i class="check-block__icon"></i> 
								{{test.opt}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- end  cfilter__option -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option ">
					<span class="cfilter__title js-drop-option">Производитель</span>
					<div class="cfilter__wrapper">
						{% for test in tests.filterManufacturer %}
						<div class="check-block">
							<input class="check-block__input" type="checkbox" id="{{test.id}}">
							<label class="check-block__text" for="{{test.id}}"> 
								<i class="check-block__icon"></i> 
								{{test.opt}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- end  cfilter__option -->
				<button class="cfilter__btn" type="submit">Применить</button>
			</form>
		</div>
		<!--end cfilter-->

		<!--begin clist-->
		<div class="clist">
			dfgdf
		</div>
		<!--end clist-->

	</div>
	<!--end container-->

</div>
<!--end catalog-->
