<!--begin catalog-->
<div class="catalog">
	<!--begin ctopline-->
	<div class="ctopline">
		<!--begin container-->
		<div class="container">
			<div class="ctopline__wrapper">
				<!--begin ctopline__left-->
				<div class="ctopline__left">
					<h1 class="h1 catalog__h1">Постельное белье</h1>
					<p class="catalog__quantity">
						<span>5 785</span> вариантов
					</p>
				</div>
				<!--end ctopline__left-->
				<!--begin ctopline__right-->
				<div class="ctopline__right ctopline-js">
					<!--begin sorting-->
					<div class="sorting">
						<span class="sorting__title">Сортировка:</span>
						<select  class="select">
							<option value="op1">По популярности</option>
							<option value="op1">От дешевых к дорогим</option>
							<option value="op2">По цене</option>
						</select>
						<select  class="select">
							<option value="op1">Все</option>
							<option value="op2">Не все</option>
						</select>
					</div>
					<!--end sorting-->

				</div>
				<!--end ctopline__right-->
				<div class="filter-btn js-filter-btn"></div>
			</div>	
		</div>
		<!--end container-->
		<!--begin cfilter-drop cfilter-drop-js-->
		<div class="cfilter-dropbox cfilter-dropbox-js">
		</div>
		<!--end cfilter-drop cfilter-drop-js-->
	</div>
	<!--end ctopline-->


	<!--begin container-->
	<div class="container catalog__container">
		<!--begin cfilter-->

		{% include "partials/_cfilter.html" %}
		{% include "partials/_clist.html" %}

	</div>
	<!--end container-->
	{% include "partials/_pagination.html" %}
</div>
<!--end catalog-->
