<!-- begin catalog -->
<div class="catalog">
	<!-- begin container -->
	<div class="container">
		<h3 class="h3 catalog__h3">Каталог товаров</h3>
		<div class="three-col-list">
			<div class="product three-col-list__item " id="catalog1">
				<a href="#">
					<div class="product__img" style="background-image: url('img/prod1.jpg');"></div>
					<h4 class="h4 product__h4">Постельное белье</h4>
				</a>
			</div>
			<div class="product three-col-list__item " id="catalog2">
				<a href="#">
					<div class="product__img" style="background-image: url('img/prod2.jpg');"></div>
					<h4 class="h4 product__h4">Подушки</h4>
				</a>
			</div>
			<div class="product three-col-list__item " id="catalog3">
				<a href="#">
					<div class="product__img" style="background-image: url('img/prod3.jpg');"></div>
					<h4 class="h4 product__h4">Одеяла</h4>
				</a>
			</div>
			<div class="product three-col-list__item " id="catalog4">
				<a href="#">
					<div class="product__img" style="background-image: url('img/prod4.jpg');"></div>
					<h4 class="h4 product__h4">Покрывала</h4>
				</a>
			</div>
			<div class="product three-col-list__item " id="catalog5">
				<a href="#">
					<div class="product__img" style="background-image: url('img/prod5.jpg');"></div>
					<h4 class="h4 product__h4">Пледы</h4>
				</a>
			</div>
			<div class="product three-col-list__item " id="catalog6">
				<a href="#"><div class="product__img" style="background-image: url('img/prod6.jpg');"></div>
					<h4 class="h4 product__h4">Полотенца</h4>
				</a>
			</div>
		</div>
	</div>
	<!-- end container -->
</div>
<!-- end catalog -->