		{% import "data/data.html" as tests %}
		<div class="cfilter cfilter-js">
			<!-- <form> -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option cfilter__price">
					<span class="cfilter__title cfilter__title--without-arrow ">Цена (руб):</span>
					<div class="cfilter__price-wrapper">
						<input class="cfilter__price-input" id="priceInputMin" type="text" placeholder="от">
						<input class="cfilter__price-input" id="priceInputMax" type="text" placeholder="до">
					</div>
					<div class="cfilter__slider"  id="priceSlider">
					</div>
					<div class="cfilter__price-wrapper">
						<span class="cfilter__price-min" id="cfilter-price-min">1290</span>
						<span class="cfilter__price-max" id="cfilter-price-max">9400</span>
					</div>
				</div>
				<!-- end cfilter__option -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option ">
					<span class="cfilter__title js-drop-option">Размер</span>
					<div class="cfilter__wrapper">			
						{% for test in tests.filterSize %}
						<div class="check-block">
							<input class="check-block__input" type="checkbox" id="{{test.id}}">
							<label class="check-block__text" for="{{test.id}}"> 
								<i class="check-block__icon"></i> 
								{{test.opt}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- end cfilter__option -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option ">
					<span class="cfilter__title js-drop-option">Материал</span>
					<div class="cfilter__wrapper">
						{% for test in tests.filterMaterial %}
						<div class="check-block">
							<input class="check-block__input" type="checkbox" id="{{test.id}}">
							<label class="check-block__text" for="{{test.id}}"> 
								<i class="check-block__icon"></i> 
								{{test.opt}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- end cfilter__option -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option ">
					<span class="cfilter__title js-drop-option">Рисунок</span>
					<div class="cfilter__wrapper">
						{% for test in tests.filterImage %}
						<div class="check-block">
							<input class="check-block__input" type="checkbox" id="{{test.id}}">
							<label class="check-block__text" for="{{test.id}}">
								<i class="check-block__icon"></i> 
								{{test.opt}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- end cfilter__option -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option ">
					<span class="cfilter__title js-drop-option">Цвет</span>
					<div class="cfilter__wrapper">
						{% for test in tests.filterColor %}
						<div class="check-block">
							<input class="check-block__input" type="checkbox" id="{{test.id}}">
							<label class="check-block__text" for="{{test.id}}">
								<i class="check-block__icon"></i> 
								{{test.opt}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- end  cfilter__option -->
				<!-- begin cfilter__option -->
				<div class="cfilter__option ">
					<span class="cfilter__title js-drop-option">Производитель</span>
					<div class="cfilter__wrapper">
						{% for test in tests.filterManufacturer %}
						<div class="check-block">
							<input class="check-block__input" type="checkbox" id="{{test.id}}">
							<label class="check-block__text" for="{{test.id}}">
								<i class="check-block__icon"></i> 
								{{test.opt}}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- end  cfilter__option -->
				<button class="cfilter__btn btn" type="submit">Применить</button>
			<!-- </form> -->
		</div>
		<!--end cfilter-->