		<!--begin clist-->
		<div class="clist">
			{% import "data/data.html" as tests %}
			{% for test in tests.clist %}
			<!--begin cproduct-->
			<div class="cproduct">
				<a class="cproduct__main-link" href="#">
					<div class="cproduct__img" style="background-image: url('{{test.img}}');"></div>
					<h2 class="h2 cproduct__h2">{{test.title}}</h2>
					<span class="cproduct__option">{{test.option}}</span>
					<div class="cproduct__old-price">{{test.oldPrice}} <span>руб</span></div>
					<div class="cproduct__price {% if test.pinkPrice %}cproduct__price--pink {% endif %}">{{test.newPrice}}<span> руб</span></div>
					<a href="#1" class="cproduct__basket-link">в корзину</a>
				</a>
			</div>
			<!--end cproduct-->		
			{% endfor %}
		</div>
		<!--end clist-->


