<!-- begin first-screen -->
<div class="first-screen">
	<h1 class="h1">Brand Postel</h1>
	<!-- begin container -->
	<div class="container">
		<div class="slider">
			<div class="slider__prev"></div>
			<div class="slider__next"></div>
			<div class="slider__slide">
				<h2 class="h2">Постельное белье <span>высокого качества</span></h2>
			</div>
			<div class="slider__slide">
				<h2 class="h2">Постельное белье <span>высокого качества</span></h2>
			</div>
		</div>
	</div>
	<!-- end container -->
</div>
<!-- end first-screen -->