<!-- begin first-screen -->
<div class="first-screen">
	<h1 class="h1">Brand Postel</h1>
	<!-- begin container -->
	<div class="container">
		<div class="slider">
			<div class="slider__slide" style="background-image: url('img/slide1-bg.jpg')">
				<div class="slider__content">
					<h2 class="h2">Постельное белье<br><span>высокого качества</span></h2>
				</div>
			</div>
			<div class="slider__slide" style="background-image: url('img/slide2-bg.jpg')">
				<div class="slider__content">
				<h2 class="h2">Постельное белье<br><span>высокого качества</span></h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
</div>
<!-- end first-screen -->