<footer class="footer">
	<!-- begin container -->
	<div class="container">
		<div class="footer-main-content">
			<!-- begin footer__left -->
			<div class="footer__left">
				<div class="footer__contact">
					<span class="footer__location">Москва</span>
					<a class="footer__phone" href="tel:+84997535555">8 (499) 753-55-55</a>
				</div>
				<div class="footer__contact">
					<span class="footer__location">РФ</span>
					<a class="footer__phone" href="tel:+88001001202"> 8 (800) 100-12-02</a>
				</div>
			</div>
			<!-- end footer__left -->
			<!-- begin footer__middle -->
			<div class="footer__middle">
				<ul class="footer__menu">
					<li class="footer__menu-item"><a class="footer__menu-link cdfgd" href="#">Доставка и оплата</a></li>
					<li class="footer__menu-item"><a class="footer__menu-link" href="#">Клубная карта</a></li>
					<li class="footer__menu-item"><a class="footer__menu-link" href="#">Таблица размеров</a></li>
					<li class="footer__menu-item"><a class="footer__menu-link" href="#">Города доставки</a></li>
					<li class="footer__menu-item"><a class="footer__menu-link" href="#">Возврат</a></li>
					<li class="footer__menu-item"><a class="footer__menu-link" href="#">Клубная карта</a></li>
					<li class="footer__menu-item"><a class="footer__menu-link" href="#">Таблица размеров</a></li>
					<li class="footer__menu-item"><a class="footer__menu-link" href="#">Контакты</a></li>
				</ul>
			</div>
			<!-- end footer__middle -->
			<!-- begin footer__right -->
			<div class="footer__right">
				<form>
					<input type="text" name="email" placeholder="Email рассылка">
				</form>
			</div>
			<!-- end footer__right -->

		</div>
	</div>
	<!-- end container -->
	<div class="footer__bottomline">
		<!--begin container-->
		<div class="container">
			<p>ТМ Brand Postel.  2015-2017. All rights reserved</p>
		</div>
		<!--end container-->
	</div>
</footer>