<header class="header header-js">
	<!-- begin container -->
	{% include "partials/_bar.html" %}
	<div class="header__wrapper">
		<div class="container">
			<a class="header__logo" href="#" style="background-image: url('img/logo.png');"></a>
			<ul class="header__menu">
				<li class="header__menu-item"><a class="header__menu-link scroll-js" href="#">Постельное белье</a></li>
				<li class="header__menu-item"><a class="header__menu-link scroll-js" href="#">подушки</a></li>
				<li class="header__menu-item"><a class="header__menu-link scroll-js" href="#">одеяла</a></li>
				<li class="header__menu-item"><a class="header__menu-link scroll-js" href="#">покрывала</a></li>
				<li class="header__menu-item"><a class="header__menu-link scroll-js" href="#">пледы</a></li>
				<li class="header__menu-item"><a class="header__menu-link scroll-js" href="#">полотенца</a></li>
				<li class="header__menu-item"><a class="header__menu-link scroll-js" href="#">простыни</a></li>
				<li class="header__menu-item "><a class="header__menu-link scroll-js header__menu-link--pink" href="#banners">sale!</a></li>
			</ul>
			<a class="basket-link" href="#">
				<div class="basket-link__text">
					<strong class="basket-link__title">Корзина</strong>
					<p class="basket-link__count"><span>6</span> товаров</p>
				</div>
				<div class="basket-link__img" style="background-image: url('img/basket.png');"></div>
			</a>
		</div>
		<!--begin mobile-menu-->
		<div class="nav-responsive js-nav-responsive">
			<ul class="mobnav-main">
				<li class="mobnav-main__item"><a class="mobnav-main__link mob-scroll-js" href="#">Постельное белье</a></li>
				<li class="mobnav-main__item"><a class="mobnav-main__link mob-scroll-js" href="#">подушки</a></li>
				<li class="mobnav-main__item"><a class="mobnav-main__link mob-scroll-js" href="#">одеяла</a></li>
				<li class="mobnav-main__item"><a class="mobnav-main__link mob-scroll-js" href="#">покрывала</a></li>
				<li class="mobnav-main__item"><a class="mobnav-main__link mob-scroll-js" href="#">пледы</a></li>
				<li class="mobnav-main__item"><a class="mobnav-main__link mob-scroll-js" href="#">полотенца</a></li>
				<li class="mobnav-main__item"><a class="mobnav-main__link mob-scroll-js" href="#">простыни</a></li>
				<li class="mobnav-main__item"><a class="mobnav-main__link mob-scroll-js mobnav-main__link--pink" href="#banners">sale!</a></li>
			</ul>
			<ul class='mobnav-second'>
				<li class="mobnav-second__item">
					<a class="mobnav-second__link" href="#">Магазины в Москве</a>
				</li>
				<li class="mobnav-second__item">
					<a class="mobnav-second__link" href="#">Бесплатная доставка</a>
				</li>
				<li class="mobnav-second__item">
					<a class="mobnav-second__link" href="#">Возврат 365</a>
				</li>
				<li class="mobnav-second__item">
					<a class="mobnav-second__link" href="#">Сертификаты</a>
				</li>
			</ul>
			<a class="phone nav-responsive__phone" href="tel:+71234567890">+7 (123) <span>456 78 90</span></a>
			<a class="callback nav-responsive__callback callback-js" href="#">Заказать звонок</a>
		</div>
		<!--end mobile-menu-->
	</div>
	<!-- end container -->


</header>