<!-- begin main-slider-block -->
<div class="main-slider-block">
	<h1 class="h1 h1--hidden">Brand Postel</h1>
	<!-- begin container -->
	<div class="container container--zero-padding">
		<div class="main-slider">
			<div class="main-slider__slide" style="background-image: url('img/slide1-bg.jpg')">
				<div class="main-slider__content">
					<h2 class="main-slider__h2">Постельное белье<br><span>высокого качества</span></h2>
				</div>
			</div>
			<div class="main-slider__slide" style="background-image: url('img/slide2-bg.jpg')">
				<div class="main-slider__content">
				<h2 class="main-slider__h2">Постельное белье<br><span>высокого качества</span></h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
</div>
<!-- end main-slider-block -->