	<!-- begin pagin -->
	<div class="pagin">
		<!-- begin container -->
		<div class="container container--zero-padding">
			<ul class="pagin__list">
				<li class="pagin__prev-item pagin__item"><a class="pagin__prev-link pagin__link" href="#"></a></li>
				<li class="pagin__item"><a class="pagin__link" href="#">1</a></li>
				<li class="pagin__item"><a class="pagin__link pagin__link--active" href="#">2</a></li>
				<li class="pagin__item"><a class="pagin__link" href="#">3</a></li>
				<li class="pagin__item"><a class="pagin__link" href="#">4</a></li>
				<li class="pagin__item"><a class="pagin__link" href="#">5</a></li>
				<li class="pagin__item"><a class="pagin__link" href="#">...</a></li>
				<li class="pagin__item"><a class="pagin__link" href="#">22</a></li>
				<li class="pagin__next-item pagin__item"><a class="pagin__next-link pagin__link" href="#"></a></li>
			</ul>
		</div>
		<!-- end container -->
	</div>
	<!-- end pagin -->