<!--begin prod-page-->
<div class="prod-page">
	<!--begin container-->
	<div class="container prod-page__container">
		<div class="prod-page__left">
			<!--begin pslider-for-->
			<div class="pslider-for pslider-for-js">
				<div class="pslider-for__item" style="background-image: url('img/prodslider1.jpg');">

				</div>
				<div class="pslider-for__item" style="background-image: url('img/cat1.jpg');">

				</div>
				<div class="pslider-for__item" style="background-image: url('img/cat2.jpg');">
				</div>
				<div class="pslider-for__item" style="background-image: url('img/cat3.jpg');">
				</div>
				<div class="pslider-for__item" style="background-image: url('img/cat4.jpg');">
				</div>

			</div>
			<!--end pslider-for-->
			<!--begin pslider-nav-->
			<div class="pslider-nav pslider-nav-js">
				<div class="pslider-nav__item" style="background-image: url('img/psliderfor.jpg');"></div>
				<div class="pslider-nav__item" style="background-image: url('img/cat1.jpg');">
					<div class="pslider-naw__inner"></div>
				</div>
				<div class="pslider-nav__item" style="background-image: url('img/cat2.jpg');">
					<div class="pslider-naw__inner"></div>
				</div>
				<div class="pslider-nav__item" style="background-image: url('img/cat3.jpg');">
					<div class="pslider-naw__inner"></div>
				</div>
				<div class="pslider-nav__item" style="background-image: url('img/cat4.jpg');">
					<div class="pslider-naw__inner"></div>
				</div>
			</div>
			<!--end pslider-nav-->
			<div class="prod-page__labe" style="background-image: url('img/slider-labe.png');">
				<span>Скидка 10%</span>
			</div>
		</div>
		<div class="prod-page__right">
			<h1 class="prod-page__h1">
				КОМПЛЕКТ ПОСТЕЛЬНОГО БЕЛЬЯ 
				FIRST CHOICE
			</h1>
			<div class="wrapper">
				<div class="prod-page__price-block">
					<div class="prod-page__old-price"><span>3699</span> руб
					</div>
					<div class="prod-page__price"><span>3699</span> руб
					</div>
					<div class="pdetails">
						<ul class="pdetails__list">
							<li class="pdetails__item"><span class="pdetails__option">Размер</span> – <span class="pdetails__value">Евро</span></li>
							<li class="pdetails__item"><span class="pdetails__option">Материал</span> – <span class="pdetails__value">Бязь</span></li>
							<li class="pdetails__item"><span class="pdetails__option">Цвет</span> – <span class="pdetails__value">Красный</span></li>
							<li class="pdetails__item"><span class="pdetails__option">Производитель</span > – <span class="pdetails__value">Kingsilk</span></li>
						</ul>
						<div class="pdetails__count">
							<div class="pdetails__minus">-</div>
							<span class="pdetails__count-value">1</span>
							<div class="pdetails__plus">+</div>
						</div>
					</div>
					<a href="#" class="prod-page__basket" >в корзину</a>
				</div>
				<div class="prod-page__info-blocks">
					<div class="prod-page__info-block prod-page__info-block--small">
						<p class="infotitle">Возврат и обмен</p>
						<p class="infocontent">В течении 30 дней</p>
					</div>
					<div class="prod-page__info-block">
						<p class="infotitle">Наш сервис</p>
						<span>Консультация</span>
						<p class="infocontent infocontent--big">8 (495) 123-45-67</p>
					</div>
					<div class="prod-page__info-block">
						<p class="infotitle">Доставка в регион</p>
						<span class="info-special">г. Москва</span>
						<p class="infocontent">Курьером - от 0 руб, 1-8 дней</p>
					</div>
				</div>
			</div>
			<p class="prod-page__desc-article">
				Комплект постельного белья Сатин двухсторонний  от First Choice состоит из сатина, это 
				блестящая, мягкая и плотная ткань с неплохим теплообменом, производимая из крученых 
				хлопковых волокон сатинового переплетения. После отбеливания и окрашивания используется 
				для пошива элитного домашнего текстиля. Своим глянцем и легкостью сатин напоминает 
				шелковые ткани, при этом имея меньшую стоимость. 
			</p>
			<p class="prod-page__desc-article">Пошитые из сатина изделия очень 
				практичные, комфортные и износостойкие, способны выдержать множественное количество 
				стирок, и только спустя длительный период времени ткань начинает немного тускнеть.
			</p>
		</div>
	</div>
	<!--end container-->
	<div class="otherprod-wrapper">
		<h2 class="prod-page__h2">Вам также должно понравиться</h2>
			<div class="other-slider">
				
			</div>
	</div>
</div>
<!--end prod-page-->

