<!--begin prod-page-->
<div class="prod-page">
	<!--begin container-->
	<div class="container prod-page__container">
		<div class="prod-page__left">
			<!--begin pslider-for-->
			<div class="pslider-for pslider-for-js">
				<div class="pslider-for__item" style="background-image: url('img/prodslider1.jpg');">

				</div>
				<div class="pslider-for__item" style="background-image: url('img/cat1.jpg');">

				</div>
				<div class="pslider-for__item" style="background-image: url('img/cat2.jpg');">
				</div>
				<div class="pslider-for__item" style="background-image: url('img/cat3.jpg');">
				</div>
				<div class="pslider-for__item" style="background-image: url('img/cat4.jpg');">
				</div>

			</div>
			<!--end pslider-for-->
			<!--begin pslider-nav-->
			<div class="pslider-nav pslider-nav-js">
				<div class="pslider-nav__item" style="background-image: url('img/psliderfor.jpg');"></div>
				<div class="pslider-nav__item" style="background-image: url('img/cat1.jpg');">
					<div class="pslider-naw__inner"></div>
				</div>
				<div class="pslider-nav__item" style="background-image: url('img/cat2.jpg');">
					<div class="pslider-naw__inner"></div>
				</div>
				<div class="pslider-nav__item" style="background-image: url('img/cat3.jpg');">
					<div class="pslider-naw__inner"></div>
				</div>
				<div class="pslider-nav__item" style="background-image: url('img/cat4.jpg');">
					<div class="pslider-naw__inner"></div>
				</div>
			</div>
			<!--end pslider-nav-->

		</div>
		<div class="prod-page__right">

		</div>
	</div>
	<!--end container-->
</div>
<!--end prod-page-->

	