
{% set 
filterSize = [
	{
		opt: '1,5-спальный',
		id: "filterSize1"
	},
		{
		opt: '2-спальный',
		id: "filterSize2"
	},
		{
		opt: 'Евро',
		id: "filterSize3"
	},
		{
		opt: 'Семейный',
		id: "filterSize4"
	}
] 
%}

{% set 
filterMaterial = [
	{
		opt: 'Бязь',
		id: "filterMaterial1"
	},
		{
		opt: 'Поплин',
		id: "filterMaterial2"
	},
		{
		opt: 'Перкаль',
		id: "filterMaterial3"
	},
		{
		opt: 'Сатин',
		id: "filterMaterial4"
	},
	{
		opt: 'Жаккард',
		id: "filterMaterial5"
	},
	{
		opt: 'Бамбук',
		id: "filterMaterial6"
	},
	{
		opt: 'Шелк',
		id: "filterMaterial7"
	}
] 
%}
{% set 
filterImage = [
	{
		opt: '3D эффект',
		id: "filterImage1"
	},
		{
		opt: 'Цветы',
		id: "filterImage2"
	},
		{
		opt: 'Узоры',
		id: "filterImage3"
	},
		{
		opt: 'Геометрия',
		id: "filterImage4"
	},
	{
		opt: 'Природа',
		id: "filterImage5"
	},
	{
		opt: 'Море',
		id: "filterImage6"
	},
	{
		opt: 'Города',
		id: "filterImage7"
	},
	{
		opt: 'Люди',
		id: "filterImage8"
	},
	{
		opt: 'Животные',
		id: "filterImage9"
	},
	{
		opt: 'Птицы',
		id: "filterImage10"
	},
	{
		opt: 'Бабочки',
		id: "filterImage11"
	},
	{
		opt: 'Фрукты',
		id: "filterImage12"
	},
	{
		opt: 'Искусство',
		id: "filterImage13"
	},
	{
		opt: 'Техника',
		id: "filterImage14"
	}
] 
%}
{% set 
filterColor = [
	{
		opt: 'Белый',
		id: "filterColor1"
	},
		{
		opt: 'Кремовый',
		id: "filterColor2"
	},
		{
		opt: 'Бежевый',
		id: "filterColor3"
	},
		{
		opt: 'Персиковый',
		id: "filterColor4"
	},
	{
		opt: 'Розовый',
		id: "filterColor5"
	},
	{
		opt: 'Желтый',
		id: "filterColor6"
	},
	{
		opt: 'Золотой',
		id: "filterColor7"
	},
	{
		opt: 'Оранжевый',
		id: "filterColor8"
	},
	{
		opt: 'Красный',
		id: "filterColor9"
	},
	{
		opt: 'Бордовый',
		id: "filterColor10"
	}
] 
%}
{% set 
filterManufacturer = [
	{
		opt: 'Cleo',
		id: "filterManufacturer1"
	},
		{
		opt: 'Cotton Dreams',
		id: "filterManufacturer2"
	},
		{
		opt: 'Narcissa',
		id: "filterManufacturer3"
	},
		{
		opt: 'Prima Casa',
		id: "filterManufacturer4"
	}
] 
%}

{% set 
clist = [

		{
		img: 'img/cat2.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 2990
	},
		{
		img: 'img/cat3.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 3990
	},
		{
		img: 'img/cat4.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 2990
	},
		{
		img: 'img/cat5.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 4990
	},
		{
		img: 'img/cat6.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 2990,
		pinkPrice: true
	},
		{
		img: 'img/cat4.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 5990
	},
		{
		img: 'img/cat5.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 2990
	},
		{
		img: 'img/cat6.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 2990
	}
] 
%}

{% set 
otherProdSlider = [
	{
		img: 'img/cat1.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '3990',
		newPrice: 2990
	},
		{
		img: 'img/cat2.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 2990
	},
		{
		img: 'img/cat3.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 3990
	},
		{
		img: 'img/cat4.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 2990
	},
		{
		img: 'img/cat4.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 2990
	},
		{
		img: 'img/cat4.jpg',
		title: 'Постельное белье Kingsilk',
		option: '2-х спальное',
		oldPrice: '2990',
		newPrice: 2990
	}
] 
%}