.header
	&__wrapper
		padding-top: 35px
		padding-bottom: 34px
		position: relative
		+clr
		+r(991)
			padding: 0
	&__logo
		height: 40px
		margin-top: 20px
		//width: 281px
		+css-lock(230, 281, 1300, 1600, "width")
		+cover
		background-size: contain
		display: block
		float: left
		+r(991)
			margin-top: 32px
			margin-left: 13px
			width: 281px
		+r(767)
			margin-left: 0
		+r(560)
			width: 130px
			height: 30px
			margin-top: 15px
	&__menu
		float: left
		margin-top: 35px
		+css-lock(5, 50, 1300, 1550, "margin-left")
		+rmin(1599)
			margin-left: 99px
		+r(1299)
			margin-top: 23px
			+css-lock(450, 750, 992, 1300, "width")
		+r(991)
			display: none
	&__menu-item
		display: inline-block
		margin-bottom: 10px
		+css-lock(5, 15, 1300, 1600, "margin-right")
		+css-lock(5, 15, 1300, 1600, "margin-left")
	&__menu-link
		text-transform: uppercase
		color: $black
		font-size: 15px
		height: 1.3em
		font-family: $PR
		+rmin(1200)
			position: relative
			transition: all .3s
			&:before
				content: ''
				position: absolute
				bottom: -12px
				height: 1px
				width: 0px
				background: $pink
				transition: all .3s
			&:hover
				color: $pink
				&:before
					width: 52px
	&__menu-link--pink
		color: $pink
		+rmin(1200)
			&:hover
				&:before
					width: 100%
.basket-link
	float: right
	//width: 210px
	height: 99px
	background-color: #e7e7e7
	position: relative
	z-index: 1
	padding-top: 11px
	text-align: right
	&:after
		z-index: 2
		position: absolute
		content: ''
		left: -27px
		top: 0
		border-style: solid
		border-color: transparent #e7e7e7
		border-width: 0px 28px 99px 0px
	+css-lock(185, 210, 1300, 1600, "width")
	+r(991)
		right: -19px
		width: 210px
	+r(767)
		right: -25px
	+r(560)
		width: 135px
		height: 60px
		&:after
			border-width: 0px 15px 60px 0px
			left: -14px
	&__text
		margin-top: 20px
		margin-right: 7px
		display: inline-block
		vertical-align: top
		+r(560)
			margin-top: 5px
	&__title
		color: #242424
		font-size: 21px
		line-height: 1em
		font-family: $PR
		text-transform: uppercase
		+r(560)
			font-size: 14px
	&__count
		color: #858484
		font-size: 15px
		line-height: 1em
		font-family: $PR
		+r(560)
			font-size: 12px
	&__img
		display: inline-block
		width: 74px
		height: 74px
		background-position: 50% 50%
		background-repeat: no-repeat
		background-color: #fff
		border-radius: 50%
		margin-right: 14px
		background-size: 40px 40px
		+r(1599)
			width: 50px
			height: 50px
			background-size: 30px 30px
			margin-top: 10px
		+r(992)
		width: 74px
		height: 74px
		background-size: 40px 40px
		margin-top: 0
		+r(560)
			width: 40px
			height: 40px
			margin-right: 5px
			background-size: 30px 30px
//.mob-topline
//	+r(991)
//		min-height: 54px
//+r(767)
//		min-height: 50px
//.mob-search-block
//	width: 160px
//	+r(991)
//		margin-left: 19px
//	+r(767)
//	 /* поправить */
//		margin-left: 25px
.mobnav-main
	margin-top: 5px
	&__item
		border-bottom: 1px solid #242424
		padding: 21px 0
		&:last-of-type
			position: relative
			border-color: #fff
			&:before
				content: ''
				position: absolute
				top: -1px
				left: 0
				width: 100%
				height: 1px
				background: $pink
		+r(560)
			padding: 10px 0
	&__link
		color: $white
		font-size: 26px 
		font-family: $PR
		text-transform: uppercase
		+css-lock(16, 26, 560, 639)
	&__link--pink
		color: $pink
.mobnav-second
	margin-bottom: 46px
	+r(560)
		margin-bottom: 20px
	&__item
		padding: 16px 0
		position: relative
		&:after
			content: ''
			position: absolute
			bottom: 0px
			left: 50%
			transform: translateX(-50%)
			width: 66%
			height: 1px
			background: #242424
		+r(560)
			padding: 10px 0
	&__link
		color: $gray
		font-size: 18px
		font-family: $PR
		+css-lock(14, 18, 560, 639)
.nav-responsive
	display: none
	+r(991)
		overflow: visible
		text-align: center
		width: 100%
		padding-bottom: 45px
		background-color: #2d2d2d
		//display: block
		position: absolute
		top: -1px
		z-index: 2
	&__phone
		display: inline-block
		margin-bottom: 9px
		font-size: 32px
		+css-lock(20, 32, 560, 639)
	&__callback
		+css-lock(14, 18, 560, 639)