.prod-page
	margin-top: 20px
	+r(991)
		margin-top: 30px
	+r(767)
		margin-top: 55px
	&__container
		font-size: 0
		+clr
		+r(1199)
			border-bottom: 1px solid #ddd
			padding-bottom: 74px!important
			// padding-bottom: 55px!important
		+r(767)
			padding-bottom: 45px!important
	&__left
		width: 50.63%
		float: left
		position: relative
		+r(1365)
			width: 46%
		+r(1199)
			float: none
			width: 100%
			//max-width: 800px
			margin: 0 auto
		//+r(991)
		//	max-width: 730px
	&__right
		width: 46.7%
		float: right
		border-top: 1px solid #e7e7e7
		//padding-top: 35px
		+css-lock(14, 35, 1200, 1599, "padding-top")
		+r(1365)
			width: 52%
		+r(1199)
			width: 100%
			float: none
			border-top: none
			//max-width: 800px
			margin: 45px auto 0
			padding-top: 0
		+r(767)
			margin-top: 52px
		+r(639)
			margin-top: 25px
		.wrapper
			+clr
			//margin-bottom: 65px
			+css-lock(15, 65, 1200, 1599, "margin-bottom")
			+r(1199)
				margin-bottom: 60px
			+r(767)
				margin-bottom: 50px
			+r(639)
				margin-bottom: 30px
	&__labe
		+cover
		background-size: contain
		width: 188px
		height: 187px
		font-family: $PS
		color: $white
		font-size: 22px
		line-height: 1em
		text-transform: uppercase
		position: absolute
		right: -8px
		top: -13px
		+r(639)
			width: 110px
			height: 110px
			font-size: 12px
			right: -5px
			top: -8px
		span
			+vcenter
			transform: rotate(45deg)
			top: 36%
			left: 24%
	&__h1
		color: $black
		font-family: $PB
		font-size: 32px
		line-height: 1.15em
		display: block
		//padding-right: 105px
		letter-spacing: -0.6px
		//margin-bottom: 49px
		padding-left: 5px
		+css-lock(15, 49, 1200, 1599, "margin-bottom")
		+r(1199)
			text-align: center
			margin-bottom: 40px
		+r(991)
			text-align: left
			padding-left: 0
		+r(639)
			+css-lock(15, 32, 320, 639)
	&__h2
		color: $silver
		//font-size: 45px
		+css-lock(35, 45, 992, 1599)
		font-family: $PB
		text-transform: uppercase
		line-height: 1
		text-align: center
		+r(767)
			font-size: 25px
		+r(639)
			font-size: 19px
	&__price-block
		float: left
		//width: 351px
		+css-lock(315, 351, 1366, 1599, "width")
		+r(1199)
			width: 351px
			margin-left: 100px
		+r(991)
			margin-left: 20px
		+r(767)
			margin-left: 0
			width: 320px
		+r(639)
			width: 100%
	&__info-blocks
		+css-lock(270, 315, 1366, 1599, "width")
		+r(1365)
			width: 240px
		float: right
		//width: 315px
		border: 1px solid #e7e7e7
		margin-top: 7px
		+r(1199)
			width: 315px
			margin-right: 100px
		+r(991)
			margin-right: 20px
		+r(767)
			margin-right: 0
			width: 245px
		+r(639)
			width: 100%
			margin-top: 30px
	&__info-block
		color: #d5d5d5
		font-size: 14px
		font-family: $PR
		line-height: 1
		text-align: center
		border-bottom: 1px solid #e7e7e7
		height: 123px
		padding-top: 20px
		&:last-of-type
			border-bottom: none
		span
			display: inline-block
		.infotitle
			font-family: $PL
			text-transform: uppercase
			font-size: 20px
			line-height: 1
			margin-bottom: 20px
		.infocontent
			font-size: 16px
			color: #a6a6a6
		.infocontent--big
			font-size: 20px
			margin-top: 5px
		.info-special
			font-size: 18px
			color: $pink
			line-height: 1
			text-decoration: underline
	&__info-block--small
		padding-top: 41px
		.infotitle
			margin-bottom: 5px
		.infocontent
			text-transform: uppercase
			font-size: 16px
	&__old-price
		color: $silver
		text-decoration: line-through
		font-size: 26px
		margin-bottom: 10px
		font-family:  $PL
		line-height: 1em
		padding-left: 16px
		+r(767)
			padding-left: 0
		+r(639)
			font-size: 18px
			text-align: center
		span
			font-family:  $PEB		
	&__price
		color: $pink
		line-height: 1em
		padding-left: 12px
		font-family:  $PL
		font-size: 47px
		margin-bottom: 45px
		+r(767)
			padding-left: 0
		+r(639)
			margin-bottom: 15px
			font-size: 26px
			text-align: center
		span
			font-size: 59px
			font-family:  $PEB
			+r(639)
				font-size: 28px
	&__basket
		font-family: $PB
		color: $white
		font-size: 30px
		line-height: 1
		display: inline-block
		padding: 28px 0px 28px 40px
		+css-lock(20, 40, 1366, 1599, "padding-left")
		background: $pink
		text-transform: uppercase
		//width: 348px
		width: 100%
		position: relative
		transition: all .2s
		+r(639)
			padding: 15px 0px 15px 15px
			width: 260px
			margin-left: auto
			margin-right: auto
			display: block
		&:after
			content: ''
			position: absolute
			background-color: #da3c92
			right: 0
			top: 0
			width: 97px
			height: 100%
			z-index: 1
			+r(639)
				width: 65px
		&:before
			+s(page-basket)
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 25px
			content: ''
			z-index: 2
			+r(639)
				right: 11px
		&:hover
			background-color: #da3c92
	&__desc-article
		color: $gray-light
		font-family: $PR
		font-size: 16px
		line-height: 1.375
		//margin-bottom: 25px
		+css-lock(5, 25, 1200, 1599, "margin-bottom")
		&:last-of-type
			margin-bottom: 0
		+r(1199)
			margin-bottom: 25px
.pslider-for
	&__item
		+cover
		+css-lock(480, 650, 1366, 1599, "height")
		//height: 650px
		//+r(1365)
		//	height: 570px
		+r(1199)
			+css-lock(570, 750, 992, 1199, "height")
		+r(991)
			height: 650px
		+r(767)
			height: 500px
		+r(600)
			height: 450px
		+r(500)
			height: 370px
		+r(400)
			height: 300px
		+r(360)
			height: 250px
.pslider-nav
	margin-top: 29px
	position: relative
	+r(767)
		margin-top: 25px
	.slick-prev, .slick-next
		width: 32px
		//height: 180px
		height: 100%
		top: 0
		background-color: #ededed
		background-image: none
		margin-top: 0
		transition: all .2s
		&:before
			transition: all .2s
			+vcenter
			content: ''
		&:hover
			background-color: #474747
			&:before
	.slick-prev
		left: -1px
		margin-left: 0
		&:before
			+arr(8, 17, #c3c3c3, l)
		&:hover
			&:before
				border-color: transparent $white transparent transparent
	.slick-next
		right: -1px
		margin-right: 0
		&:before
			+arr(8, 17, #c3c3c3, r)
		&:hover
			&:before
				border-color: transparent transparent transparent $white
	&__item
		+clr
		+css-lock(160, 230, 1366, 1599, "width")
		//width: 230px
		+css-lock(140, 180, 1366, 1599, "height")
		+cover
		//height: 180px
		cursor: pointer
		margin: 0 5px
		position: relative
		&:before, &:after
			content: ''
			+vcenter
			border-radius: 50%
			opacity: 0
		&:before
			width: 70px
			height: 70px
			padding: 10px
			background-color: white
			transition: all .2s
		&:after
			transition: opacity .2s 0.1s, 
			width .2s 0.1s,
			height .2s 0.1s
			background-image: url("../img/magnif-prod.png") 
			background-position: 50% 50%
			background-repeat: no-repeat
			background-color: transparent
			width: 127px
			height: 127px
			border: 1px solid white
		&:hover
			&:before, &:after
				+rmin(640)
					opacity: 0.7
			&:before
				width: 101px
				height: 101px
		+r(1199)
			width: 230px
			height: 180px
		+r(767)
			width: 180px
			height: 140px
		+r(600)
			width: 140px
			height: 140px
		+r(500)
			width: 100px
			height: 100px
		+r(400)
			width: 65px
			height: 65px
.pdetails
	width: 100%
	color: $black-lighten
	font-family: $PR
	font-size: 16px
	line-height: 1.37em
	padding: 20px 0 20px 22px
	border-top: 1px solid #e7e7e7
	border-bottom: 1px solid #e7e7e7
	position: relative
	margin-bottom: 35px
	+r(767)
		padding-left: 14px
	&__list
		list-style-type: disc
		+r(639)
			text-align: center
			list-style-type: none
	&__item
		color: $gray4
	&__value
		color: $black-lighten
	&__count
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
		font-size: 0
		font-family: $PR
		color: $black-light
		line-height: 48px
		text-align: center
		+r(639)
			position: relative
			top: 0
			transform: translateY(0%)
			margin-top: 15px
	&__minus, &__plus
		width: 20px
		height: 48px
		border: 1px solid #cfcfcf
		display: inline-block
		vertical-align: top
		font-size: 20px
		cursor: pointer
		+nosel
	&__count-value
		display: inline-block
		vertical-align: top
		width: 44px
		height: 48px
		border: 1px solid #cfcfcf
		font-size: 26px
		margin: 0 4px
.otherprod
	margin-top: 134px
	+r(1199)
		margin-top: 46px
	+r(767)
		margin-top: 33px
	&__slider
		margin-top: 47px
		+r(767)
			margin-top: 37px
	&__slide
		width: 380px
		margin: 0 10px!important
		margin-bottom: 0!important
		+rmin(1300)
			&:hover
				border-color: #ddd
				.cproduct__basket-link
					transform: translateY(0%)
				.cproduct__old-price
					opacity: 1
		+r(1599)
			margin: 0 8px
		+r(1300)
			margin:  0 8px
		+r(767)
			width: 290px
			margin:  0 3px!important
		+r(639)
			width: 260px
			margin:  0 10px!important
		.cproduct__img
			+css-lock(250, 344, 1365, 1599, "height")
			+css-lock(250, 344, 1365, 1599, "width")
			+r(1364)
				+css-lock(240, 380, 992, 1599, "height")
				+css-lock(240, 380, 992, 1599, "width")
			//width: 344px
			//height: 344px
			+r(991)
				+css-lock(270, 340, 768, 991, "height")
				+css-lock(270, 340, 768, 991, "width")
				//width: 270px
				//height: 270px
			+r(767)
				width: 90%
				height: 260px
			+r(639)
				height: 200px
		.cproduct__h2
			margin-top: 17px
		.cproduct__option
			margin-bottom: 20px
		.cproduct__old-price
			+r(991)
				margin-bottom: 5px
		.cproduct__price 
			margin-bottom: 16px
.previews
	margin-top: 116px
	text-align: center
	overflow: hidden
	margin-bottom: 174px
	+r(991)
		margin-top: 95px
		margin-bottom: 106px
	&__wrapper
		margin-top: 71px
		+r(639)
			margin-top: 50px
	+r(639)
		margin-top: 50px
		margin-bottom: 30px
.preview
	font-family: $PR
	padding-bottom: 100px
	max-width: 780px
	margin: 0 auto
	&:last-of-type
		padding-bottom: 58px
		border-bottom: 1px solid #ddd
		margin-bottom: 55px
	+r(639)
		padding-bottom: 50px
		&:last-of-type
			margin-bottom: 30px
	&__author
		font-family: $PS
		font-size: 22px
		line-height: 1
		color: $gray-light
		margin-bottom: 10px
		display: block
	&__date
		font-size: 14px
		color: $gray
		line-height: 1
		display: block
		margin-bottom: 36px
		+r(639)
			margin-bottom: 15px
	&__article
		font-size: 16px
		line-height: 1.37
		max-width: 650px
		margin: 0 auto
		color: $gray-light
		margin-bottom: 40px
		+r(639)
			margin-bottom: 20px
			font-size: 14px
	&__question
		color: #b9b9b9
		font-size: 16px
		line-height: 1
		margin-bottom: 10px
	&__yes-ansv
		@extend #yes-ansv
	&__no-ansv
		@extend #no-ansv
	&__yes-ansv, &__no-ansv
		transition: all .2s
		&:hover
			box-shadow: inset 0 0 3px #3a3a3a
	&__write

		font-family: $PS
		width: 230px
		margin: 0 auto
		font-size: 20px
		line-height: 56px
		height: 56px
		padding: 0
		text-transform: none
.rating
	display: block
	font-size: 0
	position: relative
	width: 136px
	margin: 0 auto 45px
	&:before, &:after
		content: ''
		position: absolute
		background: #ddd
		width: 320px
		height: 1px
		top: 50%
	&:before
		left: -330px
	&:after
		right: -330px
	+r(639)
		margin-bottom: 20px
	&__icon
		display: inline-block
		margin-right: 1px
		+s(star)
		&:last-of-type
			margin-right: 0
	&__icon--active
		+s(star-active)